- name: test dcnm_fabric_requests
  hosts: ndfc
  tasks:
    -   name: query fabric (dcnm_send)
        cisco.dcnm.dcnm_fabric:
            state: query
            config:
              - FABRIC_NAME: f1
        register: result
    -   debug:
            var: result

